@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-gray-50;
}

.logo {
  background: #10cb8d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #10cb8d,
    #3251cd
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #10cb8d,
    #3251cd
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.logo:hover {
  background: #3251cd; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3251cd,
    #10cb8d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3251cd, #10cb8d);
  background-clip: text;
}
